@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,800|Exo: 400,500,800');

header {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


/*-----------------------------------------------Colors*/

.ui-menu-color-home {
    background-color: #9f4277;
}

.ui-menu-color-images {
    background-color: #42799f;
}

.ui-menu-color-audioclips {
    background-color: #2dbf23;
}

.ui-menu-color-videoclip {
    background-color: #a523bf;
}

.ui-menu-color-contact {
    background-color: #284c9e;
}


/*-----------------------------------------------Navigation*/

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    padding: 0;
}

#navbar {
    margin: 0;
}

.menuitem {
    height: 60px;
    width: 20%;
    margin-right: 0;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 60px;
}

.menuitem a i {
    padding-top: 12px;
    display: block;
    color: #fafafa;
    font-size: 14px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}


/*-----------------------------------------------Navbar*/

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.5);
    height: 60px;
}

.navbar-btn {
    color: #000;
    border: 0;
    border-radius: 12px;
    width: 80px;
    align-items: center;
}

.btn-success:hover {
    background-color: #18540a;
    border-color: white;
}

.navbar-header .navbar-text {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 50%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border-color: #fafafa;
    border: 0;
}

.navbar-header .navbar-brand {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-right: 10px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.navbar-header .navbar-brand:hover {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-header .navbar-nav>li>a {
    color: white;
}

.navbar-header .navbar-text {
    color: white;
}

.navbar-header .navbar-collapse {
    border-color: transparent;
}

.navbar-header .navbar-toggle {
    border: 0;
}

.navbar-header .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-header .navbar-nav a {
    font-weight: bold;
}

.navbar-header .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-header .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.blue-bg {
    background: gray;
}

/*-----------------------------------------------Alert*/

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.site-wide-alert {
    margin-bottom: 0;
    padding: 8px 60px;
    border-radius: 0;
    background-color: #f1d855;
    border-color: #e4c20e;
}


/*-----------------------------------------------Section*/

.callout-container {
    height: 100vh;

    background: url("../images/dbfamily.png") no-repeat center center fixed;
    background-size: cover;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}


/*-----------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h2 {
    margin-bottom: 25px;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.jumbotron small {
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    color: white;
    border-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


/*---------------------------------------------Buttons*/

.btn--cta {
    border-radius: 20px;
    width: 120px;
    color: black;
}

/*---------------------------------------------Block dividers*/

.block-divider {
    width: 100px;
    height: 10px;
    background-color: blue;
    border: 0;
}


/*-----------------------------------------------Footer*/

footer {
    background-color: white;
    color: #000000;
    min-height: 120px;
    margin: 0;
}

.social-links {
    margin-top: 20px;
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 8px;
    text-align: center;
    color: blue;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#footer-details {
    margin: 20px;
}

#footer-details .general-sub h4 span {
    text-align: center;
}


/*-----------------------------------------------Video*/

.video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-box {
    width: 70%;
    height: 70%;
}

.video-heading {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


/*-----------------------------------------------Media Queries*/

@media (min-width: 568px) {
    .menuitem span {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .video-box {
        width: 100%;
        height: 100%;
    }
    .menuitem {
        width: 14%;
    }
}

@media (min-width: 1200) {
     .image-1 {
        display: flex;
        flex-direction: row-reverse;
    }
}


/*-----------------------------------------------Images*/

.page-header {
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 40px;
    border: 0;
}

.image-bg {
    background: blue;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.image-1 {
    height: 50vh;
    background: url("../images/nap.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.white-bg {
    background: pink;
}

.image-section {
    padding: 0;
}

.text-section {
    background: pink;
}

.section-header {
    margin-top: 0;
}

.image-2 {
    height: 50vh;
    background: url("../images/vs.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.image-3 {
    height: 50vh;
    background: url("../images/Gogeta.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.image-4 {
    height: 50vh;
    background: url("../images/dbgt.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
